<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<context:property-placeholder location="classpath:resource/*.properties"/>
	<context:component-scan base-package="com.taotao.protal"></context:component-scan>
	<mvc:annotation-driven />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 配置静态资源映射 -->
	<!-- 指定/WEB-INF/js /WEB-INF/css/ 下的所有的静态资源包括子目录下的静态资源 都不被拦截 -->
	<!-- mapping=/js/** :表示访问静态资源的路径的形式 可以访问 /js/下的静态资源或者所有的子目录下的静态资源 -->
	<!-- <mvc:resources location="/WEB-INF/js/" mapping="/js/**" />
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**" /> -->
	
	<!-- 拦截器配置 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			拦截订单类请求
			<mvc:mapping path="/**"/>
			<bean class="com.taotao.protal.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	<!-- 引用dubbo服务 -->
	<dubbo:application name="taotao-portal-web" />
	<dubbo:registry protocol="zookeeper" address="192.168.25.133:2184" />
	<dubbo:reference interface="com.taotao.content.service.ContentService"
		id="contentService" timeout="300000" />
	<dubbo:reference interface="com.taotao.sso.service.UserService"
		id="userService" timeout="300000" />
</beans>